.App {
  text-align: center;
}

/* .App-logo {
  width: 200px;
  height: 80px;
} */

/* .page-name{

} */
.flexCenter{
  display: flex;
  justify-content: center;
}

.login-card{
  width: 25rem;
  margin: 6rem auto;
  padding: 2rem;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 20rem; */
}

.signup-card{
  width: 40rem;
  margin: 4rem auto;
  padding: 2rem;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 20rem; */
}

.nav-link{
  text-decoration: none;
}

.dashboard-container{
  margin: 1rem;
}

.dashboard-card{
width: 22vw;
margin: 1rem;
position: relative;
}

.dashboard-card-title{
  color: #4e73df;
}

.container-box{
  padding: 2rem 3rem;
}

.action-button{
  color: white;
  margin: 0px 5px;
  /* border-radius: 50%; */
}
.action-button:hover{
  color: white;
}